<header class="page-header">
    <div class="page-header__inner">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed asperiores iure delectus fuga repudiandae qui unde nostrum labore eaque eveniet facilis vel nulla rerum aperiam id amet error, modi porro!</p>
    </div>
</header>
