include _mixins

block vars
  - var bodyClass = ''
  - var pageTitle = ''
  - var pageHead = ''
  - var dir = ''
  - var layout = ''

<!DOCTYPE html>
html(lang="ru")

  head
    script(src='./js/svg4everybody.min.js')
    script svg4everybody();
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= pageTitle

    include _seo
    include _favicon

    link(rel="stylesheet", href="css/style.css")
    link(rel='stylesheet', href= dir + '../assets/css/critical/critical.css' inline)
    link(rel='stylesheet', href= dir + 'css/styles.min.css')
    <!-- inject:js -->
    <!-- endinject -->

  body.no-js(class=bodyClass)
    block content

    block popups

    script(src="js/script.min.js")
    script(src="js/main.script.min.js")
    script(src="js/vendors.script.min.js")
    block scripts
