extends ../template/layout

block vars
  - var bodyClass = ''
  - var footerClass = ''
  - var headerClass = ''
  - var pageTitle = ''
  - var dir = ''
  - var layout = ''

block content
  h1.title Hello, webpack!

  include ../blocks/page-header/page-header.pug
  
  p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione, quisquam voluptatum aliquid repellat corporis eaque porro atque consequuntur corrupti suscipit assumenda quam facere a mollitia dolore inventore, deserunt placeat eveniet!

block popups

block scripts
